<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>2playersMaps</key>
	<dict>
		<key>1</key>
		<dict>
			<key>Ways</key>
			<dict/>
			<key>Bases</key>
			<dict>
				<key>6</key>
				<dict>
					<key>Id</key>
					<integer>5</integer>
					<key>posX</key>
					<real>0.269</real>
					<key>posY</key>
					<real>0.776</real>
					<key>team</key>
					<string>neutral</string>
				</dict>
				<key>5</key>
				<dict>
					<key>Id</key>
					<integer>6</integer>
					<key>posX</key>
					<real>0.451</real>
					<key>posY</key>
					<real>0.758</real>
					<key>team</key>
					<string>neutral</string>
				</dict>
				<key>1</key>
				<dict>
					<key>Id</key>
					<integer>2</integer>
					<key>posX</key>
					<real>0.544</real>
					<key>posY</key>
					<real>0.195</real>
					<key>team</key>
					<string>green</string>
				</dict>
				<key>2</key>
				<dict>
					<key>Id</key>
					<integer>1</integer>
					<key>posX</key>
					<real>0.336</real>
					<key>posY</key>
					<real>0.445</real>
					<key>team</key>
					<string>yellow</string>
				</dict>
				<key>3</key>
				<dict>
					<key>Id</key>
					<integer>3</integer>
					<key>posX</key>
					<real>0.846</real>
					<key>posY</key>
					<real>0.606</real>
					<key>team</key>
					<string>neutral</string>
				</dict>
				<key>4</key>
				<dict>
					<key>Id</key>
					<integer>4</integer>
					<key>posX</key>
					<real>0.436</real>
					<key>posY</key>
					<real>0.553</real>
					<key>team</key>
					<string>neutral</string>
				</dict>
			</dict>
		</dict>
		<key>0</key>
		<dict>
			<key>Ways</key>
			<dict>
				<key>6 - 7</key>
				<dict>
					<key>beginId</key>
					<integer>2</integer>
					<key>destinationId</key>
					<integer>3</integer>
				</dict>
				<key>6 - 6</key>
				<dict>
					<key>beginId</key>
					<integer>3</integer>
					<key>destinationId</key>
					<integer>2</integer>
				</dict>
				<key>6 - 5</key>
				<dict>
					<key>beginId</key>
					<integer>4</integer>
					<key>destinationId</key>
					<integer>2</integer>
				</dict>
				<key>6 - 4</key>
				<dict>
					<key>beginId</key>
					<integer>2</integer>
					<key>destinationId</key>
					<integer>4</integer>
				</dict>
				<key>6 - 3</key>
				<dict>
					<key>beginId</key>
					<integer>1</integer>
					<key>destinationId</key>
					<integer>3</integer>
				</dict>
				<key>6 - 2</key>
				<dict>
					<key>beginId</key>
					<integer>3</integer>
					<key>destinationId</key>
					<integer>1</integer>
				</dict>
				<key>6</key>
				<dict>
					<key>beginId</key>
					<integer>1</integer>
					<key>destinationId</key>
					<integer>4</integer>
				</dict>
				<key>5</key>
				<dict>
					<key>beginId</key>
					<integer>4</integer>
					<key>destinationId</key>
					<integer>1</integer>
				</dict>
				<key>4</key>
				<dict>
					<key>beginId</key>
					<integer>4</integer>
					<key>destinationId</key>
					<integer>3</integer>
				</dict>
				<key>3</key>
				<dict>
					<key>beginId</key>
					<integer>3</integer>
					<key>destinationId</key>
					<integer>4</integer>
				</dict>
				<key>1</key>
				<dict>
					<key>beginId</key>
					<integer>2</integer>
					<key>destinationId</key>
					<integer>1</integer>
				</dict>
				<key>2</key>
				<dict>
					<key>beginId</key>
					<integer>1</integer>
					<key>destinationId</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>Bases</key>
			<dict>
				<key>1</key>
				<dict>
					<key>Id</key>
					<integer>2</integer>
					<key>posX</key>
					<real>0.492</real>
					<key>posY</key>
					<real>0.784</real>
					<key>team</key>
					<string>green</string>
				</dict>
				<key>2</key>
				<dict>
					<key>Id</key>
					<integer>1</integer>
					<key>posX</key>
					<real>0.492</real>
					<key>posY</key>
					<real>0.166</real>
					<key>team</key>
					<string>yellow</string>
				</dict>
				<key>3</key>
				<dict>
					<key>Id</key>
					<integer>3</integer>
					<key>posX</key>
					<real>0.867</real>
					<key>posY</key>
					<real>0.475</real>
					<key>team</key>
					<string>neutral</string>
				</dict>
				<key>4</key>
				<dict>
					<key>Id</key>
					<integer>4</integer>
					<key>posX</key>
					<real>0.092</real>
					<key>posY</key>
					<real>0.475</real>
					<key>team</key>
					<string>neutral</string>
				</dict>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
